#container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f4ffe4;
}

body {
  color: #333333;
  background-image: url(images/trilliumgradient.png);
}

h1 {
  background-color: #d5edb3;
  color: #5c743d;
  height: 86px;
}

h2 {
  background-color: #d5edb3;
  color: #5c743d;
  background-image: url(images/trilliumbg.gif);
  background-repeat: no-repeat;
  padding-left: 30px;
}

.companyname {
  color: #5c743d;
}

img {
  border-style: none;
}
ul {
  list-style-image: url(images/trillium.gif);
}

footer {
  background-image: url(images/trilliumfoot.gif);
  background-repeat: no-repeat;
  background-position: right;
  height: 75px;
}
